<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style>
      img {
        width: 150px;
      }
    </style>
  </head>
  <body>
    <h2>Danh sách truyện tranh</h2>

    <table>
      <thead>
        <tr>
          <th>STT</th>
          <th>Hình ảnh</th>
          <th>Tên truyện</th>
          <th>Tác giả</th>
          <th>Lượt xem</th>
          <th>hanh dong</th>
        </tr>
      </thead>

      <tbody>
        @for (story of stories; track story.title; let i = $index) {
          @if (stories.length === 0) {
            <td>ko co truyen nao</td>
          }
          <tr>
            <td>{{ $index + 1 }}</td>
            <td><img [src]="story.image" alt="" /></td>
            <td>{{ story.title }}</td>
            <td>{{ story.author }}</td>
            <td>{{ story.views }}</td>
            <td>
              <button style="color: red" (click)="handleClick($index + 1)">xoa</button>
            </td>
          </tr>
        }
      </tbody>
    </table>

    @for (story of stories; track story.title) {
      @if (stories.length === 0) {
        <p>ko co truyen nao</p>
      } @else {
        <div class="story-card">
          <h3>{{ story.title }}</h3>
          <p>Tác giả: {{ story.author }}</p>

          <p>Lượt xem: {{ story.views }}</p>

          <p>Ảnh: <img [src]="story.image" alt="" /></p>
        </div>
      }
    }

    <p>truyện hot</p>
    @for (story of stories; track story.title) {
      @if (story.views > 90000) {
        <div class="story-card">
          <h3>{{ story.title }}</h3>
          <p>Tác giả: {{ story.author }}</p>

          <p>Lượt xem: {{ story.views }}</p>
          <p>Ảnh: <img [src]="story.image" alt="" /></p>
        </div>
      }
    }
  </body>
</html>
